
<div class='footer'>
	<small>
		<!--
      {% if app.debug == true %}
              <li>{{app.user_infos.token|default('') }}</li>
              <li>{{app.user.username|default('') }}</li>
      {% endif %}
		-->
        Product images and descriptionsare are only for illustration, you can buy
them at <a
href="https://www.northstarnutritionals.com/">NorthStar Nutritionals</a><br>
        Source code is published on <a href="https://github.com/marinalan/silex_demo_shcart.git">github</a><br>
        It is not a real shop, only a toy! 
		&copy;2012 Marina Landisberg, learning Silex PHP micro-framework
	</small>
</div>
