{% extends "layout.twig" %}

{% block content %}
<p>For examples how to use Silex micro-framework, I looked into project 
<a href="https://github.com/Mparaiso/Silex-Blog-App">Silex-Blog-App</a>, something was borrowed from there.</p>
{% endblock %}
