{% extends "layout.twig" %}

{% block content %}
<p>For examples how to use Silex micro-framework, I looked into project 
<a href="https://github.com/Mparaiso/Silex-Blog-App">Silex-Blog-App</a>, something was borrowed from there.</p>
<p>That was started as answer to questions in interview process...If I can deal
with mysql, if I can write PHP, what I would do if there would be needed to run
cron job to send subscription renewal reminders, if I can write shopping cart,
if I can deal with payment gateways... I did followed simple examples in <a
href="https://www.braintreepayments.com/docs/php/guide/getting_paid">Braintree.
Getting Started Guide</a>, so accidently stumbled upon Silex micro-framework.
But while I was dealing with issues how to use Twig templates, how to protect
some URL patterns with redirects to login, how to process and validate form submissions in
this framework, I somehow stopped and had not finished with "checkout payment"
in itself...<br>
Anyways thanks to person who was considering to hire me by asking those
questions, though it did not worked as both of us expected. She
inspired my lazy self to do at least something for "portfolio"!</p>
{% endblock %}
